<ng-container *ngIf="post$ | async as post; else loading">
  <button mat-raised-button color="primary" [routerLink]="['/posts/', (post$ | async)!.id, 'manage']">
    Edit Post
  </button>

  <mat-card>
    <div class="question">

      <mat-card-title>{{post!.title}}</mat-card-title>

      <div class="question-body">
        <div class="question-votes">
          <mat-icon (click)="upvotePost(post!.id)" fontIcon="arrow_upward"> arrow_upward</mat-icon>
          <div>{{post!.voteCount}}</div>
          <mat-icon (click)="downvotePost(post!.id)">arrow_downward</mat-icon>
        </div>
        <div class="question-area">
          {{post!.text}}
        </div>
      </div>
      Comments
      <comment-list [comments]="post!.comments" (create)="createCommentForPost(post!.id, $event)"></comment-list>
    </div>
  </mat-card>


  <h5>-- {{ answerCount$ | async}} Answers---</h5>
  <section *ngFor="let a of post!.answers">
    <mat-card>
      <div class="question">
        <button (click)="deleteAnswer(post!.id, a!.id)">Delete</button>
        <div class="question-body">
          <div class="question-votes">
            <mat-icon (click)="upvote(a!.id)" fontIcon="arrow_upward"> arrow_upward</mat-icon>
            <div>32</div>
            <mat-icon (click)="downvote(a!.id)">arrow_downward</mat-icon>
          </div>
          <div class="question-area">
            {{a.text}}
          </div>
        </div>
        Comments
  <comment-list [comments]="a.comments" (create)="createCommentForAnswer(a.id, $event)"></comment-list>

        
      </div>
    </mat-card>
  </section>

  <section>
    <h6>Your Answer</h6>
    <form [formGroup]="answerForm" (ngSubmit)="createAnswer(post!.id)">
      <mat-form-field appearance="standard">
        <textarea id="answerText" matInput type="text" formControlName="answer"></textarea>
      </mat-form-field>
      <p>
        <button mat-raised-button color="primary" [disabled]="!answerForm.valid">Create Answer</button>
      </p>
    </form>
  </section>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>